* { 
    font-family: century gothic;
    background-color: #ffdf00;
    
}

h1 {
    text-align: center;
    font-weight: 900;
    color: #000080;
}

.ref4 {
   
	color: #000080;
	font-weight: 900;
}

.ref5 {
    color: #000080;
    font-weight: 1000;
}